/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
--theme-bg-color: #0F1111;
--theme-color: white;
}
* { 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }
body{
  margin: 0px;
  font-family: amazonFont, Helvetica, sans-serif;
  background-color: #fff !important;
}
  .ishop-navbar {
    display: flex;
    box-shadow: 0 0 2px 0 grey;
    align-items: center;
    font-size: 1em;
    padding: 0px !important;
    background-color: #131A22 !important;
    color: white;
    color: var(--theme-color);
  }
  .navbar-nav .nav-item .dropdown-toggle::after{
    content: unset;
  }
  .item{
    padding: 10px;
    text-decoration: none;
    color: white;
    color: var(--theme-color); 
  }
  
  .item.right {
    margin: 0 0 0 auto;
  }
  
  .navbar .logo {
    font-size: 1.2em;
    align-items: center;
    display: flex;
  }
  
  .logo img {
    max-width: 145px;
    margin-left: 32px;
  }
  .item.search {
    transition: 0.2s linear;
    display:flex;
    justify-content: center;
    flex-grow:1;   
  }
  .item.search .search-icon {
    border-left: 1px solid grey;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 20px;
    cursor:pointer;
    color: grey;
  }
  .item.search .search-icon:hover {   
    color: black;
  }
  
  .item.search input {
    width: 100%;
    padding: 6px ;
    outline: none;
    border: 2px solid grey; 
    max-width: 100%;
    border: 0;
  }
  
  .item .search-group {
    display:flex;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    border: 2px solid grey;
    overflow: hidden;
    background: white;    
    border-color: white;
    color: var(--theme-color);  
  }
  .item .search-group select{
    border: 0;
    margin-left: 10px;
    border-right: 1px solid grey;
    max-width: 8em;
    outline: none;
    color: grey;    
  }
  .item .search-group select:focus{
    box-shadow: unset !important;
  }
  .item .group {
    display:flex;
    align-items: center;
    font-size: 0.9em;
  }
   
  .item .group .sub{
    font-size: 0.8em; 
  }
  
  .material-icons {
    font-size:1.5rem;
    padding: 5px 10px;
  }
 
  .menu-icon{
    display:none;
  }

  .product-card {
    width: 260px !important;
    border: 0px !important;
    border-radius: 5px;
  }

  .product-card .product-img {
    height: 220px;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .product-card .product-header {
    background-color: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    border-right: 1px solid #e4e4e4 !important;
  }

  .product-card .product-header .product-title p{
    font-size: 14px;
    font-weight: 600;
    color: #494949;
  }

  .product-card .product-header .product-title {
    height: 45px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .product-card .product-header .product-price p{
    font-size: 18px;
    color: #454545;
    font-weight: 900;
  }
  .product-card .product-header .product-rate {
    width: 45px;
    font-size: 10px;
    background-color: #388e3c;
    padding: 5px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  .push{
    margin-left: auto;
  }

  .product-card .product-header .product-left{
    font-size: 14px;
    font-weight: 600;
  }
  .cart-buy-buttons{
    margin: 10px 0;
  }
  .cart-buy-buttons .buttons .btn{
    font-size: 12px !important;
    color: #fbfbfb;
  }

  .cart-buy-buttons .buttons .btn-warning{
    background-color: #ff9f00;
    width: 100%;
  }

  .cart-buy-buttons .buttons .btn-danger{
    background-color: #fb641b;
  }
  .signup-pannel {
    width: 600px;
    margin: 20px;
  }

  .back-top-top{
    background-color: #37475A;
    margin-top: 50px;
    color: #fff;
          padding: 15px 0;
          text-align: center;
          font-size: 13px;
  }
  .back-top-top:hover{
    background-color: #485769;
    color: #fff;
          cursor: pointer;
  }
  .navFooter{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    background-color: #232F3E;
    height: 315px;
  padding: 20px 65px 60px;
    border-bottom: 1px solid #3a4553;
  }
  .navFootCol{
    margin-top: 30px;
    margin-left: 70px;
  }
  .navFootHead{
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .navFootCol ul{
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;

  }
  .navFootCol ul li{
    margin-bottom: 10px;
    color: #ddd;
    font-size: 14px;

  }
  .navFootCol ul li:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .logo-box{
    background-color: #232F3E;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .logoAmazonFoot{
    height: 18px;
    width: 60px;
    margin-top: 20px;
    margin-right: 70px;
  }
  .lang{
    border: 1px solid #848688;
    display: inline !important;
  padding: 8px 10px;
  border-radius: 4px;
  }
.lang:hover{
  cursor: pointer;
}
  .lang .xp{
    font-size: 14px;
  }
  .lang .eng{
    font-size: 12px;
    margin: 0 8px;
  }
  .inline{
    display: inline !important;
  }
  .countries{
    background-color: #232F3E;
    color: #ddd;
  text-align: center;
    font-size: 13px;
    padding: 0 140px;
    padding-bottom: 30px;
  }
  .countries ul{
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  .countries ul li{
    display: inline;
    margin-right: 12px;
  text-align: center;
  line-height: 25px;
  }
  .countries ul li:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .footerDesc{
    background-color: #131A22;
  display: grid;
  grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
  padding: 20px 140px;
  }
  .footerHead{
    color: #ddd;
    font-size: 11px !important;
  }
  .footerHead:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .footCol{
    margin-bottom: 12px;
  }
  .footCol:hover{
    text-decoration: underline;
    cursor: pointer;
    
  }
  .footCol .lh{
    color: #999;
    font-size: 10px;
    margin: 5px 0;
  }
  .footCol .lh:hover{
    text-decoration: underline;
    cursor: pointer;
  }


  .footCopy{
    background-color: #131A22;
    color: #ddd;
    font-size: 13px;
    padding: 0 200px;
    padding-bottom: 30px;
    text-align: center;
  }
  .footCopy ul{
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  .footCopy ul li{
    display: inline;
    margin-right: 12px;
  text-align: center;
  line-height: 25px;
  }
  .footCopy ul li:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .filter-pane{
    margin-left: 50px;
  }

  .filter-pane label {
    font-size: 14px;
  }

  .filter-pane h5 {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-right: 45px;
  }

  .filter-pane .filter-contents {
    padding: 15px;
  }

  .filter-pane .filter-contents p{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .filter-pane .filter-contents p:hover{
    cursor: pointer;
  }


  @media (max-width: 700px) {
    .item.search input {
      display: none;
    }
    .menu-icon {
      display:block;
    }
    .detail,.logo .text {
      display:none;
    }
  
  
}