<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <div class="signup-pannel">
            <form #frmRegisterCustomer="ngForm" (submit)="onRegisterCustomerClick(frmRegisterCustomer.value)">
                <div class="form-group mt-3">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" ngModel #firstName="ngModel" id="firstName" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group mt-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" ngModel #lastName="ngModel" id="lastName" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group mt-3">
                    <label for="userName">User Name</label>
                    <input type="text" name="userName" ngModel #userName="ngModel" id="userName" class="form-control" placeholder="User Name">
                </div>
                <div class="d-flex flex-wrap mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" ngModel #gender="ngModel" id="male" value="Male" checked>
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" ngModel #gender="ngModel" id="female" value="Female">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>
                <div class="form-group mt-3">
                  <label for="email">Email address</label>
                  <input type="email" name="email" ngModel #email="ngModel" id="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group mt-3">
                  <label for="password">Password</label>
                  <input type="password" name="password" ngModel #password="ngModel" id="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group mt-3">
                    <label for="mobile">Mobile</label>
                    <input type="text" name="mobile" ngModel #mobile="ngModel" id="mobile" class="form-control" placeholder="Mobile">
                </div>
                <div class="form-group mt-3">
                    <label for="address">Address</label>
                    <input type="text" name="address" ngModel #address="ngModel" id="address" class="form-control" placeholder="Address">
                </div>
                <div class="form-group mt-3">
                    <label for="dob">Date Of Birth</label>
                    <input type="text" name="dateOfBirth" ngModel #dateOfBirth="ngModel" id="dob" class="form-control" placeholder="Date Of Birth">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
              </form>
        </div>
    </div>
</div>