<nav class="ishop-navbar">
  <i class="material-icons menu-icon">
    menu
  </i>
  <div class="logo">
    <a routerLink="/products">
      <img src="../assets/images/iShop-logo.png" alt="logo">
      <div class="text">
    </div>
    </a>
  </div>
  <div class="item search right" tabindex="0">
    <div class="search-group">
      <select class="form-select">
        <option *ngFor="let item of categories" value="{{item.category}}">{{item.category}}</option>
      </select>
    <input type="text">
    <i class="bi bi-search material-icons search-icon"></i>
      </div>
  </div>
  
  <div class="navbar-nav">
    <div class="nav-item dropdown">
      <a class="item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="group">
          <i class="bi bi-person-circle material-icons"></i>
          <div class="detail">
            Account
            <div class="sub">Sign In</div>
          </div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/login">LogIn</a></li>
          <li><a class="dropdown-item" routerLink="/signup">SignUp</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/adminlogin">Admin Login</a></li>
        </ul>
      </a>
    </div>
</div>

  <a href="" class="item">
    <div class="group">
      <i class="bi bi-cart2 material-icons"></i>
      <div class="detail">
        Cart 
        <div class="sub">Rs 0.0</div>
      </div>
    </div>
  </a>
</nav>
<router-outlet></router-outlet>
