<app-navbar (searchTextChanged)="onSearchTextEntered($event)"></app-navbar>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="filter-pane">
                <h5>Categories</h5>
                <div class="filter-contents">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Electronics">
                        <label class="form-check-label" for="Electronics">
                            Electronics
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Jewelery">
                        <label class="form-check-label" for="Jewelery">
                        Jewelery
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="mens">
                        <label class="form-check-label" for="mens">
                        Men's Clothing
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="womens">
                        <label class="form-check-label" for="womens">
                        Women's Clothing
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="grocery">
                        <label class="form-check-label" for="grocery">
                        Groceries
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="kids">
                        <label class="form-check-label" for="kids">
                        Kids
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="toys">
                        <label class="form-check-label" for="toys">
                        Toys & More...
                        </label>
                    </div>
                </div>
                <h5>Filter by colour</h5>
                <div class="filter-contents">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Black">
                        <label class="form-check-label" for="Black">
                        Black
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Gray">
                        <label class="form-check-label" for="Gray">
                            Gray
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Blue">
                        <label class="form-check-label" for="Blue">
                            Blue
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Red">
                        <label class="form-check-label" for="Red">
                            Red
                        </label>
                    </div>
                </div>
                <h5>Filter By Size</h5>
                <div class="filter-contents">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Small">
                        <label class="form-check-label" for="Small">
                            Small
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Medium">
                        <label class="form-check-label" for="Medium">
                            Medium
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Large">
                        <label class="form-check-label" for="Large">
                            Large
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="X-Large">
                        <label class="form-check-label" for="X-Large">
                            X-Large
                        </label>
                    </div>
                </div>
                <h5>Filter by Price</h5>
                <div class="filter-contents">
                    <p>Under ₹1,000</p>
                    <p>₹1,000 - ₹5,000</p>
                    <p>₹5,000 - ₹10,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="d-flex flex-wrap">
                <div *ngFor="let item of products" class="card product-card m-2">
                    <div *ngIf="searchText === '' || item.title.toLowerCase().includes(searchText)">
                        <img [src]="item.image" class="card-img-top product-img">
                        <div class="card-header product-header">
                            <div class="product-title">
                                <p>{{item.title}}</p>
                            </div>
                            <div class="product-price">
                                <p>{{item.price}} USD</p>
                            </div>
                            <div class="product-rating d-flex flex-wrap">
                                <div class="product-rate">
                                    {{item.rating}} <i class="bi bi-star-fill"></i>
                                </div>
                                <div class="push">

                                </div>
                                <div class="product-left">
                                    {{item.count}} Left
                                </div>
                            </div>
                            <div class="cart-buy-buttons">
                                <div class="buttons">
                                    <button class="btn btn-warning"><i class="bi bi-cart3"></i> ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>